header {
    background-color: transparent;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index: 2;
    padding: 10px 80px;
    width: 100%;
}

.hidden-search-navbar {
    visibility: hidden;
}

header.changeColor {
    background-color: white;
}

header p {
    color: white;
    font-size: 36px;
}

/* Custom input search */
.hidden {
    display: none !important;
    /* transition: 1s; */
}

#searchHeader {
    width: 30%;
    margin: 10px 20px;
    transition: 0s !important;
}
#searchHeader .ant-input-group-addon,#searchHeader .ant-input-search-button, #searchHeader .ant-input-outlined {
    transition: 0s !important;
}

.ant-input-group-addon {
    background-color: #222325 !important;
    padding: 10px !important;
}

.anticon-search {
    font-size: 20px !important;
}

.ant-input {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.ant-input-search-button {
    background-color: transparent;
    border: none;
    color: white !important;
    height: 100% !important;
}

.ant-input-search-button:hover,
.ant-input-group-addon:hover {
    background-color: #565759 !important;
    color: white !important;
    border-color: #393a3c !important;

}

.ant-input-search-button:focus {
    outline: none;
}

/* Custom Navbar */
nav a {
    margin: 0 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
/* .changeColor p{
    color: #62646a;
} */

.changeColor nav a,.changeColor p {
    color: #62646a;
}

.menu-bar i {
    padding-left: 8px;
    font-size: 14px;
}

.btn-custom {
    padding: 0 19px;
    font-size: 16px;
    border: 1px solid white;
    height: 40px;
    margin-left: 10px;
}

header .btn-join {
    background-color: transparent;
    color: white;
    font-weight: 500;
}

.btn-join:hover {
    background-color: #1dbf73 !important;
    border-color: transparent !important;
    color: white !important;
}
header.changeColor .btn-join{
    border-color: green;
    color: green;
} 


.btn-join:focus {
    outline: none;
}


/* MenuList */

.menu-list-job {
    background-color: white;
    display: flex;
    justify-content: center;
    color: #62646a;
}
.menu-list-job p{
    margin: 0 7px;
    font-size: 16px;
    
}

.menu-list-job a {
    margin: 0 10px;
}

.ant-dropdown-trigger::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
}

.ant-dropdown-trigger:hover::after {
    width: 100%;
    background: rgb(16, 168, 52);
    color: rgb(16, 168, 52);
    transform: translateX(1);
    transition: .5s;
}

.ant-space-item:hover {
    color: rgb(16, 168, 52);
    transform: translateX(1);
    transition: .5s;
}

.nameGroup ul p {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 2rem;
}

.nameGroup ul li a {
    font-size: 18px;
    line-height: 2rem;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: white;
}

/* @media screen and (min-width: 1280px) {
    .container{
        max-width: 100vw !important;
    }
} */