.span-detail,
.p-detail {
  color: black;
}

.ant-divider {
  margin: 0 !important;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
}

.slick-prev::after,
.slick-next::after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  inset-inline-start: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 0 solid currentcolor;
  border-inline-width: 2px 0;
  border-block-width: 2px 0;
  content: "";
  color: black;
}

.slick-prev::after {
  transform: rotate(-45deg) translate(8px, 0);
}

.slick-next::after {
  transform: rotate(135deg) translate(-5px, 3px);
}

.slider-container .slider-items {
  height: 100% !important;
  overflow: hidden;
}

.slick-arrow {
  padding: 12px !important;
  /* position: absolute; */
}

.slider-items img {
  object-fit: contain;
  height: 100% !important;
  width: 100%;
  transition: all 0.5s;
}

.slider-items img:hover {
  transform: scale(1.1);
}

.slider-container .slick-prev {
  left: 4px !important;
  z-index: 2;
}

.slider-container .slick-next {
  right: 4px !important;
}

.slider-container .slick-prev::before,
.slider-container .slick-next::before {
  opacity: 0;
}

.slider-container .slick-dots {
  /* text-align: left; */
  height: 50px;
  margin: 5px 0;
  bottom: 0 !important;
  background-color: rgb(128, 128, 128, 0.7);
  overflow: hidden;
}

.slider-container .small_image {
  display: inline-block;
  height: 100%;
}

.slick-dots li {
  width: 80px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.desc_info_list {
  list-style: circle;
  color: black;
}

.desc_info_list li {
  padding-left: 10px;
}

.desc_info_list li::marker {
  content: "●";
  color: black;
}

.ant-table-cell {
  padding: 0 16px !important;
}

.ant-table-cell span {
  font-weight: bold;
}

.detailjob_page .ant-btn {
  width: 70px;
}

.ant-table-row .ant-table-cell {
  padding: 0;
}

.ant-table-tbody {
  background-color: transparent;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.sidercard_btn .ant-btn.css-dev-only-do-not-override-17seli4.ant-btn-primary {
  background-color: green;
  transition: all 0.5s;
}

.sidercard_btn .ant-btn.css-dev-only-do-not-override-17seli4.ant-btn-primary:hover {
  background-color: rgba(0, 128, 0, 0.479);
}

.ant-collapse-header-text {
  font-weight: bold;
}

.custom-size {
  width: 20px;
  height: 15px;
}

.slider-container .slick-slider .slick-prev::after {
  left: 9px;
  top: 6px;
}

.detailjob_page .slider-container .slick-slider .slick-next::after {
  left: 6px;
  top: 6px;
}

.price-drawer{
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 1rem;
}
.info-deposit{
  margin: 10px;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
}
.info-deposit-top{
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 10px;
}
.info-deposit-bottom{
  padding: 10px;
}
.quanlity{
  margin: 5px;
}
.btn-down,.btn-up{
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
}
.btn-continues{
  background-color: black;
  color: white;
  font-size: 1rem;
  margin-top: 5px;
}
.btn-continues:hover{
  background-color: rgb(68, 66, 66) !important;
  color: white !important;
  border: none;
}


/* iPhone 6, 7, 8 */
@media only screen and (min-width: 300px) and (max-width: 667px) {

  /* .detailjob_page {
    margin-top: 550px;
  } */
  .detailjob_page .ant-breadcrumb-link {
    display: block;
  }

  .sider_layout_disable {
    display: none;
  }

  .left_layout .ant-layout-sider.ant-layout-sider-dark.sider_layout.sider_layout_active {
    padding: 0 !important;
  }

  .Rate-part {
    display: block;
  }

  .rating_breakdown {
    display: block;
  }

  .FAQ_rate .ant-col.ant-col-11.css-dev-only-do-not-override-17seli4 {
    margin-top: 15px;
  }

  .FAQ_rate .ant-row.css-dev-only-do-not-override-17seli4 {
    width: 300px;
  }

  .rating_breakdwn_text {
    width: 250px;
  }

  .rating_breakdwn_star p {
    display: flex;
  }

  .btn_comment {
    width: 60% !important;
  }

  .left_layout {
    font-size: 10px !important;
  }

  .left_layout .anticon.anticon-star {
    font-size: 10px;
  }

  .toprate {
    display: block;
  }

  .detailjob_header ul {
    line-height: 10px;
  }

  .user ul {
    line-height: 10px;
  }

  .ant-layout-content {
    width: auto !important;
  }
}

/* Ipad */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .left_layout .sider_layout_active {
    display: none !important;
  }

  .btn_comment {
    width: 60% !important;
  }

  .toprate {
    display: block;
  }

  .detailjob_header ul {
    line-height: 10px;
  }

  .detailjob_header .anticon.anticon-star {
    font-size: 13px;
  }
}