@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* css custom breadcrumb */
.ant-breadcrumb-link{
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.2s;
    padding: 0 4px;
    border-radius: 4px;
    /* height: 22px; */
    display: inline-block;
    margin-inline: -4px;
    font-weight: 600;
}
.ant-breadcrumb-link:hover{
    background-color: #b8b8b82e;
    color: #565759;
    border-radius: 5px;
    cursor: pointer;
}
.ant-breadcrumb ol{
    align-items: center;
}

.ant-modal-footer{
    display: none;
}

/* css img modal */
.modal-form .img-form{
    background-image: url('../src/assets/img/img_form.png');
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 429px;
    left: 0;
    top: 0%;
    border-radius: 8px 0 0 8px;
    transition: 1s;
}
.modal-form .switch-img-modal{
    background-image: url('../src/assets/img/img_form.png');
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 435px;
    left: 50%;
    top: 0%;
    border-radius: 0 8px 8px 0;
    transition: 1s;
}
