.carousel .item .img-caoursel{
    height: 100vh;
    object-fit: cover;
}

.form-carousel-tittle{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.form-carousel .ant-input{
    font-size: 18px !important;
}
.popular-carousel{
    margin-top: 20px;
    font-size: 16px;
    color: white;
}
.carousel .form-carousel .form-carousel-btn{
    border: 1px solid white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 20px;
    transition: .3s;
}
.carousel .form-carousel .ant-input-group-addon{
    background-color: #1dbf73 !important;
    padding: 0 15px !important;
}
.carousel .form-carousel .ant-input-search-button:hover{
    background-color: #1dbf73 !important;
}
.form-carousel-btn:hover{
    background-color: white;
    color: black;
}
.ant-carousel .slick-dots{
    display: none !important
}

/* css thẻ tên */
.carousel .img-carousel{
    height: 680px;
    object-fit: cover;
}

.carousel .tag-name{
    font-size: 50px;
    position: absolute;
    bottom: 6%;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgba(146, 139, 139, 0.493);
    padding: 7px 10px;
    border-radius: 40px;
}
.carousel .tag-name .tag-name-img{
    margin-right: 10px;
}
.carousel .tag-name .number-start{
    margin: 10px;
    position: absolute;
    right: 12px;
    top: -5px;
    display: flex;
    align-items: center;
}
.carousel .tag-name .tag-name-info .span-name:first-child{
    font-size: 14px;
    text-align: left;
}
.carousel .item .tag-name i{
    letter-spacing: 2px;
}


/* Css div Trust */
.info-trust{
    background-color: #f5f5f5;

}
.trust-by{
    font-size: 20px;
    color: #b5b6ba;
    font-weight: 500;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px 0;
}
